<header class="container-fluid">
  <div class="row topMarque">
    <div id="marqueLabel">
      <p>Notice</p>
    </div>
    <div class="marqueRunWay">
      <div class="marqueContent">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis</p>
        <p>dolor sapiente ex aliquam repellat labore. Quasi, impedit</p>
        <p>praesentium at harum corrupti, atque, excepturi officiis ullam voluptate debitis quaerat</p>
        <p>quae nam! Minima molestias temporibus nam nihil in nulla tempore ullam facilis.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="logo col-md-4">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="ITET Bangladesh">
      </a>
      <div class="logo-meta">
        <h1>I T E T</h1>
        <h5>B a n g l a d e s h</h5>
      </div>
    </div>

    <div class="topRight col-md-8">
      <h3>Institution of Textile Engineers And Technologist</h3>
      <p>House#53, Road#14, Sector13, Uttara, Dhaka, Bangladesh, Planet Earth</p>
    </div>
  </div>


  <div class="row" id="mainNav">
    <div class="navLeft col-8 nopadding">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
              <a routerLink="/" class="nav-link">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li routerLinkActive="active" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About ITET
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLinkActive="active" routerLink="/about" class="dropdown-item">About Us</a>
                <a routerLinkActive="active" routerLink="/aims" class="dropdown-item">Aims & Objective</a>
                <a routerLinkActive="active" routerLink="/eob" class="dropdown-item">Executive Office Bearers</a>
                <a routerLinkActive="active" routerLink="/constitution" class="dropdown-item">ITET Constitution</a>
                <!-- <div class="dropdown-divider"></div> -->
              </div>
            </li>

            <li routerLinkActive="active" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Membership
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLinkActive="active" routerLink="/missing-photo" class="dropdown-item">Missing photo in ITET Database</a>
                <a routerLinkActive="active" routerLink="/about-membership" class="dropdown-item">About Membership</a>
                <a routerLinkActive="active" routerLink="/membership-criteria" class="dropdown-item">Membership Criteria</a>
                <a routerLinkActive="active" routerLink="/how-to-get" class="dropdown-item">How to get membership</a>

                <div class="dropdown-divider"></div>

                <a routerLinkActive="active" routerLink="/membership-fee" class="dropdown-item">Membership Fee</a>
                <a routerLinkActive="active" routerLink="/membership-form" class="dropdown-item">Membership Form</a>
              </div>
            </li>

            <li routerLinkActive="active" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Publication
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLinkActive="active" routerLink="/downloads" class="dropdown-item">Downloads</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/important-downloads">Important Downloads</a>
              </div>
            </li>

            <li routerLinkActive="active" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Center
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLinkActive="active" routerLink="/center" class="dropdown-item">ITET Center</a>
              </div>
            </li>

            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/photo-galary">Photo Galary</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/payments">Payments</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <div class="col-4 nopadding">
      <ul class="navRight pull-right">

        <li>
          <a id="search" routerLink="/search" [queryParams]="{animate: true, viewmode: 'grid', returnUrl: returnUrl()}">
            <i class="fa fa-search"></i>
            <span>Search for Members</span>
          </a>
        </li>

        <li>
          <a id="myAccount" data-toggle="modal" data-target="#logInModal">
            <i class="fa fa-user"></i>
            <span>Member Log In</span>
          </a>
        </li>


      </ul>
    </div>
  </div>
</header>

<!-- Login Modal Start -->

<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Please sign in</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="inputEmail" placeholder="Email Address" class="form-control form-control-lg">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" placeholder="Password" class="form-control form-control-lg">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary pull-right">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal End -->