.topMarque{
    height: 40px;
    display: flex;
}

#marqueLabel{
    background-color: #ED1C24;
    width: 80px;
    height: 100%;
    display: flex;
}
#marqueLabel p{
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.marqueRunWay{
    width: calc(100% - 80px);
    padding: 0 5px;
    overflow: hidden;
    display: flex;
}
.marqueContent{
    width: 100%;
    margin: auto 0;
}
.marqueContent p{
    display: inline-block;
    white-space: nowrap;
    margin: 0 15px;
}

.logo{
    background-color: #ddd;
    display: flex;
    justify-content: center;
}

.logo a{
    width: max-content;
    align-self: center;
}
.logo-meta{
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
    text-transform: uppercase;
    
}
.logo-meta h1{
    font-weight: 800;
    text-align: center;
}
.logo-meta h5{
    font-weight: 700;
}

.headerRight{
    padding: 0;
}

.topRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(212, 211, 211);
}

.topRight p{
    font-size: 16px;
}
.topRight h3{
    font-weight: bold;
}
.topRight * {
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul li:hover ul{
    display: block;
}
nav ul li{
    float: left;
    position: relative;
    

}

.navLeft{
    padding: 20px 5px;
}

.navLeft li a{
    padding: 5px 10px;
    margin: 0 5px;
    color: #000;
    transition: .5s ease-out;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
}

.navLeft li ul {
    position: absolute;
    width: 250px;
    height: fit-content;
    top: 31px;
    left: 0;
    z-index: 1;
    background-color: #fff;
    display: none;
    padding: 5px 0;
    
}

.navLeft li ul li{
    /* padding: 5px; */
    float: none;
    display: block;
}
.navLeft li ul li a{
    padding: 10px;
    margin: 0;
    display: block;
}

.navLeft li a:hover, .navLeft li.active>a{
    background-color: #ff7b74;
    color: #fff;
}

/* .navLeft li.active ul{
    background-color: #fff;
} */


.navRight li{
    height: 100%;
}

.navRight li a{
    background-color: #F4716A;
    width: 85px;
    display: flex;
    height: 100%;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.navRight li a:hover{
    cursor: pointer;
}

.navRight li a i{
    font-size: 22px;
    align-self: center;
    margin-bottom: 3px;
}
.navRight li a span{
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}


.add1{
    padding: 0;
}
.add1 img{
    width: 100%;
}

#search{
    width: 150px;
}
#search i{
    font-size: 30px;
}
#search span{
    font-size: 12px;
}
#myAccount{
    background-color: #FF7B74;
}


@media only screen and (max-width: 991px) {
    nav{
        flex-direction: column;
    }
}


@media only screen and (max-width: 767px) {
    nav ul li{
        padding-top: 5px;
    }
}


