<section id="footer">
    <div class="footer-top-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="developer-contact text-left">
              <p>&copy; All right reserved.</p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="developer-contact-2 text-right">
              <p>Developed by Microkodes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="footer-area">
         <div class="container">
             <span (click)="toggleFooter()" class="footer-upDown-btn">
               <!-- <i class="fa fa-angle-up"></i> -->
               <img src="assets/images/computer-mouse.svg" alt="alt text">
             </span>
             <div class="row">
                 <div class="col-md-3 row-padding">
                     <div class="single-footer-text">
                         <div class="footer-title">
                             <h5>Lorem ipsum dolor.</h5>
                         </div>
                         <div class="footer-text">
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, voluptates, quae? Distinctio repellendus ad quia nam, enim cumque nostrum nemo?</p>
                         </div> 
                     </div>
                 </div>
                 <div class="col-md-3 row-padding">
                     <div class="single-footer-text">
                         <div class="footer-title">
                             <h5>footer-link.</h5>
                         </div>
                         <div class="footer-links">
                             <ul>
                                 <li><a href="#">links</a></li>
                                 <li><a href="#">links</a></li>
                                 <li><a href="#">links</a></li>
                                 <li><a href="#">links</a></li>
                                 <li><a href="#">links</a></li>
                             </ul>
                         </div>    
                     </div>
                 </div>
                 <div class="col-md-3 row-padding">
                     <div class="single-footer-text">
                         <div class="footer-title">
                             <h5>social-link.</h5>
                         </div>
                         <div class="footer-social-links">
                             <ul>
                                 <li><a href="#">facebook</a></li>
                                 <li><a href="#">facebook</a></li>
                                 <li><a href="#">facebook</a></li>
                                 <li><a href="#">facebook</a></li>
                                 <li><a href="#">facebook</a></li>
                             </ul>
                         </div>    
                     </div>
                 </div>
                 <div class="col-md-3 row-padding">
                     <div class="single-footer-text">
                         <div class="footer-title">
                             <h5>Developer details.</h5>
                         </div>
                         <div class="Developer-links">
                             <a href="#">
                                 <img src="assets/images/logo1.png" alt="micokodes">
                             </a>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro non est quaerat praesentium totam quisquam.</p>
                         </div>    
                     </div>
                 </div>
             </div>
         </div>
     </div>
  </section>