<!-- search-panel start -->

<section id="searchPanel">


    <div class="panel-navigation container-fluid">
      <h2>I T E T</h2>
      <form class="search-box">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search..." name="searchQuery">
      </form>
      <a 
        (click)="hideSearchPanel()"
        class="return-btn"
      ><i class="fa fa-times"></i></a>
    </div>
  
  
    <div class="container-fluid search-result-container">
      <aside class="search-filter">
        <h5 (click)="toggleFilters()">Filter</h5>
        <div class="filter-name form-group">
          <label for="fName">Name</label>
          <div class='input-group'>
            <input (keyup)="filterMembers()" [(ngModel)]="filter.fName" placeholder="Name" type="text" class="form-control form-control-sm" id="fName">
            <span class="input-group-btn">
              <button class="btn">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>

          <div class='filter-id form-group'>
            <label for="fId">Id</label>
            <div class="input-group">
              <input (keyup)="filterMembers()" [(ngModel)]="filter.fId" placeholder="ID" type="text" class="form-control form-control-sm" id="fId">
              <span class="input-group-btn">
                <button class="btn">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <div class='filter-user-name form-group'>
            <label for="fUserName">User Name</label>
            <div class="input-group">
              <input (keyup)="filterMembers()" [(ngModel)]="filter.fUserName" type="text" placeholder="User Name" class="form-control form-control-sm" id="fUserName">
              <span class="input-group-btn">
                <button class="btn">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <div class='filter-company form-group'>
            <label for="fCompany">Company</label>
            <div class="input-group">
              <input (keyup)="filterMembers()" [(ngModel)]="filter.fCompany" placeholder="Company" type="text" class="form-control" id="fCompany">
              <span class="input-group-btn">
                <button class="btn">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <div class='filter-academic form-group'>
            <label for="fAcademy">Academic Info</label>
            <select (change)="filterMembers()" [(ngModel)]="filter.fAcademy" class="form-control" id="fAcademy">
              <option value="0">Any</option>
              <option *ngFor="let academy of academies; let i = index" value="{{i+1}}">{{academy}}</option>
            </select>
          </div>

          <div class='filter-relign form-group'>
            <label for="fRelign">Relign</label>
            <select (change)="filterMembers()" [(ngModel)]="filter.fRelign" class="form-control" id="fRelign">
              <option value="0">All</option>
              <option value="1">Muslim</option>
              <option value="2">Hindu</option>
              <option value="3">Christian</option>
            </select>
          </div>

      </aside>
  
      <div class="search-result">
        <div class="search-result-controls">
            <a 
              [class.active]="viewType === 'list'"
              routerLink="/search" 
              [queryParams]="{viewmode: 'list'}"
            ><i class="fa fa-list"></i> <span>List</span></a>
            <a 
              routerLink="/search" 
              [queryParams]="{viewmode: 'grid'}"
              [class.active]="viewType === 'grid'"
            ><i class="fa fa-th"></i> <span>Grid</span></a>
        </div>

        <div class="search-result-view">
          <result-view [view-type]="viewType" [filtered]="filtered"></result-view>
        </div>
      </div>
    </div>
  
  </section>

