
.addSpace a img{
    height: 100%;
    width: 100%;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }


.sliderSection{
    height: 470px;
}
.sliderSection img{
    /* max-height: 470px; */
}

#carouselExampleIndicators, .carousel-inner, .carousel-item, .sliderSection img {
    height: 100%;
}

/* Right Tab */

.right-tab{
    padding-right: 0;
}
.right-tab ul.nav.nav-pills {
    
}
.right-tab li.nav-item{
    flex: 1;
    
}
.right-tab li.nav-item:nth-child(1){
    background-color: #F4716A;
}
.right-tab li.nav-item:nth-child(2){
    background-color: #FF7B77;
}
.right-tab li.nav-item:nth-child(3){
    background-color: #FF8D8A;
}
.right-tab li.nav-item a{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.right-tab li.nav-item a.active{
    background-color: inherit;
    /* color: #fff; */
}

.right-tab .tab-content{
    overflow-y: auto;
    height: calc(100% - 41px);
}

.single-pan {
    display: flex;
    margin: 5px 5px 5px 0;
}

.dates {
    width: 150px;
    text-align: center;
    background-color: #57CDF3;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dates p{
    margin-bottom: 5px;
    font-weight: 600;
}

.excerpts {
    margin: 5px 10px;
}

.excerpts a{
    color: #57CDF3;
}

.add-2{

    
    
    margin: 15px 0;
}

.add-2 a, .add-3 a{
    width: 100%;
    height: 100%;
}
.add-2 div{
    /* background-color: #6DCFF6; */
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.add-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-3 div{
    height: 49%;
    /* background-color: #6DCFF6; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}














/* Service Section Start */
.serviceSection{
    padding-bottom: 50px;
}
.sectionHeader h4{
    font-weight: 600;
}
.sectionHeader p{
    font-style: italic;
}
.service-tab {
    margin-top: 20px;
    height: 420px;
    display: flex;
}

.service-tab #v-pills-tab {
    width: 140px;
}
.service-tab #v-pills-tab a{
    display: flex;
    padding: 0;
}
.service-tab #v-pills-tab a.active{
    background-color: inherit;
    color: #FF1C32;
}
.service-tab #v-pills-tab a i{
    font-size: 32px;
    margin: auto 10px auto 0;
}
.service-tab #v-pills-tab a p{
    margin: auto 0;
}

.service-tab #v-pills-tabContent{
    padding-left: 30px;
    width: calc(100% - 140px);
    height: 100%;
    overflow-y: auto;
}
.service-tab #v-pills-tabContent i{
    font-size: 48px;
    color: #FF1C32;
}
.service-tab #v-pills-tabContent h4{}
.service-tab #v-pills-tabContent p{
    text-align: justify;
}


@media only screen and (max-width: 767px){
    .sliderSection{
        height: auto;
    }

    .right-tab{
        max-height: 300px;
        padding-left: 0;
    }

    /* .add-3 div{
        height: auto;
    } */

    .add-2 a, .add-3 a, .addSpace a img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .add-3 {
        padding-top: 20px;
    }


}





