.search-result {
    overflow-y: scroll;
    height: 100%;
}


.single-reslut{
    background-color: #fff;
    display: flex;
    margin: 10px 10px 10px 20px;
    padding: 10px;
    border-radius: 5px;
}













.listView .result-thumbnail{
    margin-right: 20px;
}
.result-thumbnail a{
    display: block;
    width: 150px;
    height: 150px;
}
.result-thumbnail a img{
    width: 100%;
    height: 100%;
}

.result-meta{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.result-meta h4{
    margin-bottom: 5px;
}

.result-meta i{
    margin-right: 5px;
    color: #26A69A;
}

.result-meta p{
    margin-bottom: 5px;
}

.work-info p:first-child{
    font-size: .9em;
    
}


.gridView{
    display: flex;
    flex-wrap: wrap;
}
.gridView .single-reslut{
    width: 240px;
    padding: 0;
}

.gridView .result-thumbnail{
    margin-bottom: 20px;
}

.gridView .single-reslut{
    flex-direction: column;
}

.gridView .result-thumbnail a{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.gridView .result-meta{
    margin: 0 auto;
    padding: 5px 20px 15px 20px;
}







#memberModal .modal-dialog {
    max-width: 70%;
}
#memberModal .modal-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media only screen and (max-width: 767px){
    #memberModal .modal-dialog{
        margin: 10px auto;
        max-width: 95%;
    }

    .gridView .single-reslut {
        width: 200px;
    }
}

@media only screen and (max-width: 767px){
    .gridView .single-reslut {
        width: 190px;
    }
}